<h3>Edit Tweet</h3>

<form action='/tweets' method="POST">
  <input type="hidden" action="_method" value="PATCH">
  <label for="content">Content: </label>
  <input type="text" name="content" id="content" value="<"><br>
  <input type="submit" value="submit">
</form>
