<h3>Signup for Fwitter</h3>

<form action="/signup" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required>
  <label for="email">Email:</label>
  <input type="text" name="email" id="email" required>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required>
  <input type="submit" value="Signup!">
</form>
