<h1>Signup for Fwitter</h1>

<form action="/signup" method="POST">
  <label for="first_name">First Name:</label>
  <input type="text" name="user[first_name]" id="first_name">
  <label for="last_name">Last Name:</label>
  <input type="text" name="user[last_name]" id="last_name">
  <label for="email">Email:</label>
  <input type="text" name="user[email]" id="email">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Signup!">
</form>
